*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: "Poppins", sans-serif;
}

/* Main Layout */

.login-container{
display:flex;
height:100vh;
background:#1f2a4a;
}

/* Left Side */

.login-left{
flex:1;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
padding:40px;
}

.login-left h1{
font-size:42px;
color:#f2c94c;
margin-bottom:10px;
}

.login-left p{
color:#aab0c0;
max-width:300px;
text-align:center;
}

/* Right Side */

.login-right{
flex:1;
display:flex;
justify-content:center;
align-items:center;
}

/* Card */

.login-card{
background:#25335c;
padding:40px;
border-radius:12px;
width:350px;
box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

.login-card h2{
color:white;
margin-bottom:25px;
text-align:center;
}

/* Floating Input */

.input-group{
position:relative;
margin-bottom:20px;
}

.input-group input{
width:100%;
padding:12px;
background:#1f2a4a;
border:none;
border-radius:6px;
color:white;
outline:none;
}

.input-group label{
position:absolute;
left:12px;
top:12px;
color:#aab0c0;
font-size:14px;
transition:0.3s;
pointer-events:none;
}

.input-group input:focus + label,
.input-group input:valid + label{
top:-8px;
font-size:12px;
color:#f2c94c;
background:#25335c;
padding:0 4px;
}

/* Password Eye */

.password-group{
position:relative;
}

.toggle-password{
position:absolute;
right:10px;
top:12px;
cursor:pointer;
}

/* Button */

.login-btn{
width:100%;
padding:12px;
border:none;
border-radius:6px;
background:#f2c94c;
color:#1f2a4a;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

.login-btn:hover{
box-shadow:0 0 15px #f2c94c;
transform:translateY(-2px);
}

/* Register text */

.register-text{
margin-top:18px;
text-align:center;
color:#aab0c0;
}

.register-text span{
color:#f2c94c;
cursor:pointer;
}

.Register-btn
{
   text-decoration: none !important;
  color: #f2c94c !important;
}
html{
    scroll-behavior: smooth;
}
/* Responsive */

@media(max-width:900px){

.login-left{
display:none;
}

.login-right{
flex:1;
}

}